.medicine-container {
  width: calc(50% - 16px);
  height: 120;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background: var(--secundary-color);
  border: none;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 24px;
}

.medicine-container .information-row {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.medicine-container .information-row .medicine-title {
  width: calc(80% - 4px);
  height: auto;
  color: var(--default-black);
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.medicine-container .information-row .medicine-targe {
  width: calc(20% - 4px);
  height: 8px;
  background-color: var(--free-targe);
}

.medicine-container .information-row .medicine-targe.black {
  background-color: var(--default-black);
}

.medicine-container .information-row .medicine-targe.red {
  background-color: var(--default-red);
}

.medicine-container .information-row .medicine-text {
  width: calc(50% - 8px);
  height: auto;
  color: var(--default-black);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.medicine-container .information-row .medicine-text.right {
  text-align: end;
}

.medicine-container .buttons {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.medicine-container .buttons .button {
  width: calc(50% - 8px);
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--principal-color);
  border: none;
  border-radius: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: var(--secundary-color);
  cursor: pointer;
}

@media (max-width: 1023px) {
  .medicine-container {
    width: 100%;
  }
}
