:root {
  --principal-color: #0CC4DC;
  --secundary-color: #FFFFFF;
  --default-black: #000000;
  --default-red: #FF0000;
  --free-targe: #F8F8FF;
  --opened-status: #FFD700;
  --attended-status: #00FF7F;
  --denied-status: #FF6347;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background) !important;
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}