:root {
  --principal-color: #0cc4dc;
  --secundary-color: #ffffff;
  --default-black: #000000;
  --default-red: #ff0000;
  --default-yellow: #ffff00;
  --free-targe: #f8f8ff;
  --opened-status: #ffd700;
  --attended-status: #00ff7f;
  --denied-status: #ff6347;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background) !important;
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}
