:root {
  --principal-color: #0CC4DC;
  --secundary-color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background) !important;
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}